[Desktop Entry]
Name=M-Pad
Comment=A lightweight text companion
Exec=m-pad %F
Icon=accessories-text-editor
Terminal=false
Type=Application
Categories=Utility;TextEditor;
MimeType=text/plain;
